<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<!-- MyBatis 프레임워크에서 사용할 환경 설정(Database와 관련된 설정) -->
  
  	<properties>
  		<!-- 상수 정의: 테이블 이름, 컬럼 이름 -->
  		<!-- Board(게시글) 테이블 컬럼 -->
  		<property name="tbl_board" value="test.Board"/>
		<property name="board.bno" value="bno"/>
		<property name="board.title" value="title"/>
		<property name="board.content" value="content"/>
		<property name="board.writer" value="writer"/>
		<property name="board.write_date" value="write_date"/>
		<property name="board.category" value="category"/>
		<property name="board.type" value="type"/>
		<property name="board.tag" value="tag"/>
		<property name="board.link" value="link"/>
		<property name="board.image" value="image"/>
		<property name="board.answer_count" value="answer_count"/>
		<property name="board.view_count" value="view_count"/>
		<property name="board.rec_count" value="rec_count"/>
		<property name="board.reply_count" value="reply_count"/>
		<property name="board.answer_choose" value="answer_choose"/>
  	
  		<!-- User(사용자) 테이블 컬럼 -->
  		<property name="tbl_user" value="test.User"/>
  		<property name="user.id" value="id"/>
  		<property name="user.password" value="password"/>
  		<property name="user.email" value="email"/>
  		<property name="user.join_date" value="join_date"/>
  		<property name="user.nickname" value="nickname"/>
  		<property name="user.introduce" value="introduce"/>
  		<property name="user.active_point" value="active_point"/>
  		<property name="user.profile_image" value="profile_image"/>
  		<property name="user.background_image" value="background_image"/>
  		<property name="user.verify" value="verify"/>
  		<property name="user.auth_code" value="auth_code"/>
  		
  	</properties>
  
  	<typeAliases>
  		<package name="edu.java.teamproject.model"/>
  	</typeAliases>
  
  </configuration>