@charset "UTF-8";

/* header */
.top-header{
   background-color: orange;
   width:1180px;
}


.button-form>button{
   position: absolute;
   top:10px;
   right:10px;
   
}

/* 메인로고 div */
.mainLogo-div {
   float: left;
   width: 40px;
   height: 45px;
   margin-left: 15px;   
}
.mainLogoImg {
   margin-top: 6.5px;
   margin-bottom: 6.5px;
}
/* top-header */
.top-header-div {
   width: 100%;
   height: 45px;   
}
/* header-nav */
.top-header-nav {
   width: 100%;
   height: 45px;
   background-color: white;
   border-bottom: 0.5px solid grey;
}
/* logo-font div */
.mainLogo-font-div {
   float:left;
   width: 70px;
   height: 45px;
}
.mainLogo-font-div-div {
   width: 68px;
   height: 20px;
   margin-bottom: 12.5px;
   margin-top: 12.5px;
}
/* logo-font a */
.logo-font {
   font-size: 17px;
   text-decoration: none;
   font-weight: bold;
   color: black;
}

.loge-font:hover {
   text-decoration: none;
   font-weight: bold;
   color: black;
}
/* 로그인 버튼 div */
.login-form-div {
   float:right;
   width: 160px;
   height: 45px;
   margin-right: 20px;
}

.btnLogin-div {
   width: 160px;
   height: 34px;
   margin-top: 6.5px;
   margin-bottom: 6.5px;
}
/* 로그인 버튼 */
.btnLogin {
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
   -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
   box-shadow:inset 0px 1px 0px 0px #ffffff;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
   background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
   background-color:#f9f9f9;
   -webkit-border-top-left-radius:6px;
   -moz-border-radius-topleft:6px;
   border-top-left-radius:6px;
   -webkit-border-top-right-radius:6px;
   -moz-border-radius-topright:6px;
   border-top-right-radius:6px;
   -webkit-border-bottom-right-radius:6px;
   -moz-border-radius-bottomright:6px;
   border-bottom-right-radius:6px;
   -webkit-border-bottom-left-radius:6px;
   -moz-border-radius-bottomleft:6px;
   border-bottom-left-radius:6px;
   text-indent:0;
   border:1px solid #dcdcdc;
   display:inline-block;
   color:#666666;
   font-family:Arial;
   font-size:12px;
   font-weight:bold;
   font-style:normal;
   height:34px;
   line-height:34px;
   width:160px;
   text-decoration:none;
   text-align:center;
   text-shadow:1px 1px 0px #ffffff;
   
   
}

.btnLogin:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
   background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
   background-color:#e9e9e9;
}.btnLogin:active {
   position:relative;
   top:1px;
}


/* nav */
.top-nav{
   margin-top: 6px;
    width: auto;

    
}


/* container */
#container{
   width:1380px;
   height: auto;
   margin-top: -20px;
   background-image: url('/teamproject/images/left-side-bg.jpg') ;
    background-repeat: no-repeat;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

   

#container>div>div.con-left-wid>ul>li a{
   text-decoration: none;
   cursor: pointer;
   
}
#container>div>div.con-left-wid>ul{
   
   width: 169px;
   margin-left: 30px;
    margin-top: -0.5px;
    border-radius: 1.5em;
}

#container>div>div.con-left-wid>ul>li.list-bg{
   background-color: #A9A9A9 ; 
}

#container>div>div.con-left-wid>ul>li>a.t-color{
   color:#fff;
   
   
}
/* container-left */

div.content-header,
 .sub-category-nav, 
 .content-center, 
 .sub-post-list,
 .content-center2 {

    margin: 0 auto;
    width: 850px;
    height: auto;
    letter-spacing: -1px;
    

} 



div.content-header {
   margin: 0 auto;
    /* width: 850px; */
    height: 94px;
    background-color: #FFD700;
    display: table;
}
/* content-->content-header-->content-header-title-span*/
div.content-header p {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
}
/* 게시판 제목 링크 설정 */
.contnt-header-title-link {
    margin-left: 15px;
    color: white;
    font-weight: bold;
}
/* 게시판 제목 링크 마우스 관련 설정 */
.contnt-header-title-link:hover {
    color: white;
}

/* 게시판내 카테고리 설정 */
.sub-category-nav {
    height: 35px;
/*     width: 850px; */
    border-bottom: 0.5px solid gray;
    background-color: #fff;
}
/* 게시판내 카테고리 ul 초기화 설정 */
.sub-category-nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 30px;
}
/* 게시판내 카테고리 ul, li 관련 설정 */
.sub-category-nav ul li {
    color: white;

    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    font-size: 12px;
}


/* 게시판내 카테고리 li 관련 설정 */
.sub-category-li {
    text-decoration: none;
    display: block;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum;
    color: black;
}
/* 게시판내 카테고리 li 마우스 관련 설정 */
.sub-category-li:hover {
    color: white;
    background-color: #FAF7D0;
}

.sub-category-li a {
    text-decoration: none;
}

/* .sub-category-li-popular, .sub-category-li-lastest {
    text-decoration: none;
    display: block;
    width: 60px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum;
    color: black;
} */

.content-center {
   /*  width: 850px; */
    height: 100%;
}

.sub-post-list {
   /*  width: 850px; */
    height: 130px;
    border-bottom: 0.5px solid gray;
}

.post-image-div {
    float: left;
    margin-left: 35px;
    width: 121px;
    height: 130px;
    margin-left: 35px;
}

.post-image {
    margin-top: 10px;
}

.post-contents {
    margin-left: 157px;
    width: 592px;
    height: 130px;
}

.content {
    
}

.post-title, .post-content, .post-info, .post-share {
    margin-left: 10px;
}

.post-title {
    font-size: 15px;
    color: black;
}

.post-title:hover {
    color: black;
}

.post-content {
    color: #828282;
    font-size: 12px;
}

.post-content:hover {
    text-decoration: none;
    color: #828282;
}

.btnReplyCount {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
        ), color-stop(1, #378de5));
    background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
        endColorstr='#378de5');
    background-color: #79bbff;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 20px;
    line-height: 20px;
    width: 88px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #528ecc;
}

.btnReplyCount:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
        ), color-stop(1, #79bbff));
    background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
        endColorstr='#79bbff');
    background-color: #378de5;
}

.btnReplyCount:active {
    position: relative;
    top: 1px;
}

.btnPostTag {
    -moz-box-shadow: inset 0px 1px 0px 0px #fceaca;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fceaca;
    box-shadow: inset 0px 1px 0px 0px #fceaca;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffce79
        ), color-stop(1, #eeaf41));
    background: -moz-linear-gradient(center top, #ffce79 5%, #eeaf41 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79',
        endColorstr='#eeaf41');
    background-color: #ffce79;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 20px;
    line-height: 20px;
    width: 87px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ce8e28;
}

.btnPostTag:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeaf41
        ), color-stop(1, #ffce79));
    background: -moz-linear-gradient(center top, #eeaf41 5%, #ffce79 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41',
        endColorstr='#ffce79');
    background-color: #eeaf41;
}

.btnPostTag:active {
    position: relative;
    top: 1px;
}

.btnPostTag2 {
    -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356
        ), color-stop(1, #a5cc52));
    background: -moz-linear-gradient(center top, #b8e356 5%, #a5cc52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356',
        endColorstr='#a5cc52');
    background-color: #b8e356;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #83c41a;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 20px;
    line-height: 20px;
    width: 87px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #86ae47;
}

.btnPostTag2:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52
        ), color-stop(1, #b8e356));
    background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52',
        endColorstr='#b8e356');
    background-color: #a5cc52;
}

.btnPostTag2:active {
    position: relative;
    top: 1px;
}

.post-info-span {
    margin-left: 10px;
    font-size: 12px;
}

.post-share, .post-save {
    font-size: 12px;
    font-weight: bold;
    color: #787878;
}

.sub-category-li-widthView {
    margin-left: 120px;
}

.sub-category-li-heightView {
    margin-left: 20px;
}

.sub-category-li-widthView:hover, .sub-category-li-heightView:hover {
    background-color: #dcdcdc;  
}
.sub-post-list2 {
    display: flex;

}

.content-center2{
     background-color:  #DCDCDC;
}

.content-center {
    background-color: #fff;
    /* width: 850px; */
    height: 100%;
}

.post-image-div2 {
    width:178px;
}

.sub-sub-post-list2 {
    margin-left: 5px;
    margin-top: 5px;
    width: 178px;
    height: 188px;
    flex: 1;
    
}

.btnHPostTag {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    font-style:normal;
    height:21px;
    line-height:17px;
    width:55px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #cc9f52;
}
.btnHPostTag:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
}.btnHPostTag:active {
    position:relative;
    top:1px;
}

.post-title2 {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.post-title2:hover {
    color: black;
}
.post-userId2 {
    margin-left: 130px;
    font-weight: bold;
    font-size: 12px;
    color: #828282;
}

.post-userId2:hover {
    color: black;
}

.post-contents2 {
    background-color: #ffffff;
    width:178px;
    height: 80px;
}

.btnHPostTag2 {
    -moz-box-shadow:inset 0px 1px 0px 0px #cdfca6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cdfca6;
    box-shadow:inset 0px 1px 0px 0px #cdfca6;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
    background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
    background-color:#b8e356;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    font-style:normal;
    height:21px;
    line-height:17px;
    width:55px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #86ae47;
}
.btnHPostTag2:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
    background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
    background-color:#a5cc52;
}.btnHPostTag2:active {
    position:relative;
    top:1px;
}

.btnHPostTag3 {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    font-style:normal;
    height:21px;
    line-height:19px;
    width:59px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.btnHPostTag3:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}.btnHPostTag3:active {
    position:relative;
    top:1px;
}

.modal-body {
    height: 1000px;
}

/* container-right */


/* footer */
#footer{
   margin:0 auto;
   width:1180px;
   height: auto;
   background-color: #AFEEEE;

}