@charset "UTF-8";

/* header */


.button-form>button {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* 메인로고 div */
.mainLogo-div {
	float: left;
	width: 40px;
	height: 45px;
	margin-left: 15px;
}

.main-logo-font {
	margin-left: 20px;
}

.mainLogoImg {
	margin-top: 6.5px;
	margin-bottom: 6.5px;
	margin-left: 3px;
}
/* top-header */
.top-header-div {
	position: relative;
	width: 74%;
	height: 45px;
	margin: 0 auto;
}
/* header-nav */


/* logo-font div */
.mainLogo-font-div {
	float: left;
	width: 70px;
	height: 45px;
}

.mainLogo-font-div-div {
	width: 68px;
	height: 20px;
	margin-bottom: 12.5px;
	margin-top: 12.5px;
}
/* logo-font a */
.logo-font {
	font-size: 17px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.loge-font:hover {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
/* 로그인 버튼 div */
.login-form-div {
	float: right;
	width: 160px;
	height: 45px;
	margin-right: 20px;
}

.btnLogin-div {
	width: 160px;
	height: 34px;
	margin-top: 6.5px;
	margin-bottom: 6.5px;
	margin-left: -93px;
}
/* 로그인 버튼 */
.btnLogin {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 34px;
	line-height: 34px;
	width: 160px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

.btnLogin:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',
		endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.btnLogin:active {
	position: relative;
	top: 1px;
}

/* 로그인 후*/
div.logined-form {
	float: right;
	width: 300px;
	margin-right: -248px;
}

div.right-float-div {
	display: inline-block;
	position: relative;
	right: 145px;
}

.img-profile, .img-notify, .btn-settig, .btn-logout {
	position: absolute;
	top: 0;
	cursor: pointer;
}

.img-notify {
	right: 187px;
}

.img-profile {
	right: 147px;
}

.btn-settig {
	right: 50px;
}

.btn-logout {
	height: 34px;
    line-height: 34px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 15px;
    display: inline-block;
	right: -61px;
}

.btn-settig{
	display: inline-block;
	line-height: 34px;
	width: 75px;
    text-decoration: none;
    text-align: center;
	margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 12px;
}


.img-profile-div, .img-notify-div {
	width: 40px;
	height: 40px;
	/*   float: right; */
	margin-top: 15px;
	margin-bottom: -45px;
	margin-right: 10px;
}

.img-profile, .img-notify {
	margin-top: 4px;
	margin-bottom: 4px;
}

.login-profile-div, .login-id-div, .login-setting-div {
	float: left;
}

.login-profile-div {
	margin: 7px;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-id-div {
	width: 45px;
	margin: 5px;
	color: #333;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
}

.login-setting-div {
	margin-top: 12px;
}

.login-id-a {
	text-decoration: none;
	color: #333;
}

.login-id-a:hover {
	color: #333;
}

.login-point-div span {
	font-size: 12px;
}

.login-point-div span {
	font-size: 12px;
	color: orange;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
	vertical-align: top;
}

.span-point {
	font-size: 12px;
	color: orange;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
	vertical-align: top;
}

.point-div {
	float: left;
	margin-top: 5px;
	height: 22px;
}

.logined-form-right-div {
	margin-left: 14.5px;
	margin-top: 15px;
	width: 230px;
	height: 65px;
	background-color: ivory;
	border: 1px solid #bebebe;
	float: left;
}


/* nav */
.top-nav {
	margin-top: 6px;
	width: auto;
}

.nav-main-default {
	display: inline-block;
	width: 100%;
}

.nav-main-wid {
	margin-left: 270px;
	width: 80%;
}

form.search-btn-nav {
	margin-left: 203px;
} 


/* container */
#container {
	width: 70%;
	height: 100%;
	margin-top: -20px;
	/* background-image: url('/teamproject/images/left-side-bg.jpg'); */
	background-repeat: no-repeat;
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

/* container-left */
#container {
	margin-top: -26px;
}

#container>div>div.pull-left {
	margin: 0;
	padding: 0;
	height: auto;
	float: left !important;
	margin-bottom: 0;
}

.on { // 더미 셀렉터입니다.
	
}

.off { // 더미 셀렉터입니다.
	
}

.left {
	/* float: left; */
	position: relative;
	height: 100%;
	background-color: #fff;
	min-height: 100%;
	position: relative;
	top: -2px;
	left: 0;
	bottom: 0;
	background: #fafafa;
	border-left: 1px solid #e5e5e5;
	/*    z-index: 999; */
	border-top: 0;
	left: 0;
	width: 169px;
}

#container>div>div.pull-left {
	margin-top: 2px;
}

#container>div>div.pull-left>ul {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	/*  margin-left: 15px;
            margin-top: -0.5px; */
	padding: 0;
	margin-top: 0;
}

#container>div>div.pull-left>ul>li {
	border-radius: 0.5em;
	border: 1px solid #D8D8D8;
}

#container>div>div.pull-left>ul>li a {
	text-decoration: none;
	cursor: pointer;
}

#container>div>div.pull-left>ul>li.list-bg {
	background-color: #A9A9A9;
}

#container>div>div.pull-left>ul>li>a.t-color {
	color: #fff;
}

.list-group-item {
	font-weight: bold;
	z-index: 1;
	position: relative;
	z-index: 1;
}

.grip {
	background-color: #a0a0a0;
	position: absolute;
	top: 0;
	left: 159px;
	width: 10px;
	height: 100%;
	background-position: 124px center;
	box-shadow: 2px 1px 6px rgba(0, 0, 0, .2);
	z-index: 999;
	-webkit-transition: all .1s ease 30ms;
	-moz-transition: all .1s ease 30ms;
	-o-transition: all .1s ease 30ms;
	-ms-transition: all .1s ease 30ms;
	transition: all .1s ease 30ms;
	background-position: 400px center;
	cursor: pointer;
	margin-bottom: 0;
}

div.content-header, .sub-category-nav, .content-center, .sub-post-list,
	.content-center2, .mid-contents-wrap {
	width: 90%;
	/*     height: auto; */
	letter-spacing: -1px;
}

/* container-center */
div.mid-contents-wrap {
	width: 70%;
	margin-right: -55px;
	padding: 0;
}

.top-contents-main {
	width: 90%;
	height: auto;

	/* background-color: #3CB371; */
}

.icon-bg-gif {
	width: 100%;
	height: 450px;
	opacity: 0.65;
}

.intro {
	margin: 0;
	padding: 0;
	position: relative;
}

.slogan {
	position: absolute;
	top: 60px;
	left: 65px;
	width: 40%;
	padding: 0px 15px;
	height: 350px;
}

.slogan .slogan-text {
	font-size: 34px;
	text-align: center;
}

.slogan-text span {
	width: 100px;
	color: #5F04B4;
	font-weight: 800;
}

.slogan-buttons {
	margin-top: 20px;
}

.slogan-buttons>button {
	min-width: 133px;
	margin-bottom: 10px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.btn-wid{
	padding: 12px 18px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.vcenter {
	display: block;
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
}

/* 세로보기 */
div.content-header2 {
	margin: 5px 0 15px 23px;
}

div.content-header {
	width: 90%;
	border-bottom: 1px solid gray;
}

.sub-post-list2 {
	display: flex;
	margin: 5px 0 15px 3px;
}

.sub-post-list3 {
	display: flex;
	margin: 5px 0 15px 3px;
	width: auto;
	heihgt: auto;
}

div.sub-sub-post-list2 {
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 184px;
	height: 193px;
	border: 1px solid #8c8c8c;
	flex: 1;
}

.sub-sub-post-list3 {
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px;
	width: auto;
	height: auto;
	border: 1px solid #8c8c8c;
	flex: 1;
}
/* 게시판리스트-공통-css  */
.section-more {
	font-size: 18px;
	margin-left: 5px;
	color: #aaa;
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.head-text {
	font-size: 24px;
	font-weight: bold;
	padding: 8px 8px 8px 0;
	margin-bottom: 10px;
}

/* 가로보기 */
.content-center {
	/* width: 100%;  */
	height: auto;
	margin: 5px 0 15px 37px;
}

.sub-post-list {
	/*   width: 100%; */
	height: 130px;
	border-bottom: 0.5px solid gray;
}

.post-image-div {
	float: left;
	margin-left: 35px;
	width: 121px;
	height: 130px;
}

.post-image {
	margin-top: 10px;
}

.post-contents {
	margin-left: 157px;
	width: 592px;
	height: 130px;
}

.post-title, .post-content, .post-info, .post-share {
	margin-left: 10px;
}

.post-title {
	font-size: 15px;
	color: black;
}

.post-title:hover {
	color: black;
} 

div.short-post-content{
	display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 0 20px 0 10px;
    
    
}
div.dynamic_dark_font{
    color: #B7B7B7;
}

/* .post-content {
	color: #828282;
	font-size: 12px;
} */

/* .post-content:hover {
	text-decoration: none;
	color: #828282;
} */
.btnReply {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 20px;
	line-height: 20px;
	width: 88px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #528ecc;
}

.btnReplyCount {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5));
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5');
	background-color: #79bbff;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 20px;
	line-height: 20px;
	width: 88px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #528ecc;
}

.btnReplyCount:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff');
	background-color: #378de5;
}

.btnReplyCount:active {
	position: relative;
	top: 1px;
}

.btnPostTag {
	-moz-box-shadow: inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fceaca;
	box-shadow: inset 0px 1px 0px 0px #fceaca;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffce79
		), color-stop(1, #eeaf41));
	background: -moz-linear-gradient(center top, #ffce79 5%, #eeaf41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79',
		endColorstr='#eeaf41');
	background-color: #ffce79;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #eeb44f;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 20px;
	line-height: 20px;
	width: 87px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ce8e28;
}

.btnPostTag:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeaf41
		), color-stop(1, #ffce79));
	background: -moz-linear-gradient(center top, #eeaf41 5%, #ffce79 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41',
		endColorstr='#ffce79');
	background-color: #eeaf41;
}

.btnPostTag:active {
	position: relative;
	top: 1px;
}

.btnPostTag2 {
	-moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356
		), color-stop(1, #a5cc52));
	background: -moz-linear-gradient(center top, #b8e356 5%, #a5cc52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356',
		endColorstr='#a5cc52');
	background-color: #b8e356;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 20px;
	line-height: 20px;
	width: 87px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #86ae47;
}

.btnPostTag2:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52
		), color-stop(1, #b8e356));
	background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52',
		endColorstr='#b8e356');
	background-color: #a5cc52;
}

.btnPostTag2:active {
	position: relative;
	top: 1px;
}



.post-info-span {
	margin-left: 10px;
	font-size: 12px;
}

.post-share, .post-save {
	font-size: 12px;
	font-weight: bold;
	color: #787878;
}

.content-center2 {
	background-color: #fff;
	width: 80%;
}

.content-center3 {
	background-color: #fff;
	width: 10%;
}

.content-center {
	background-color: #fff;
	/* width: 850px; */
	height: 100%;
}

.post-image-div2 {
	width: 178px;
}

.btnHPostTag {
	-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477
		), color-stop(1, #fb9e25));
	background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477',
		endColorstr='#fb9e25');
	background-color: #ffc477;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #eeb44f;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 21px;
	line-height: 17px;
	width: 55px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #cc9f52;
}

.btnHPostTag:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25
		), color-stop(1, #ffc477));
	background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25',
		endColorstr='#ffc477');
	background-color: #fb9e25;
}

.btnHPostTag:active {
	position: relative;
	top: 1px;
}

.post-title2 {
	font-weight: bold;
	font-size: 13px;
	color: black;
}

.post-title2:hover {
	color: black;
}

.post-userId2 {
	margin-left: 130px;
	font-weight: bold;
	font-size: 12px;
	color: #828282;
}

.post-userId2:hover {
	color: black;
}

.post-contents2 {
	background-color: #ffffff;
	width: 178px;
	height: 80px;
}

.btnHPostTag2 {
	-moz-box-shadow: inset 0px 1px 0px 0px #cdfca6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #cdfca6;
	box-shadow: inset 0px 1px 0px 0px #cdfca6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356
		), color-stop(1, #a5cc52));
	background: -moz-linear-gradient(center top, #b8e356 5%, #a5cc52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356',
		endColorstr='#a5cc52');
	background-color: #b8e356;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 21px;
	line-height: 17px;
	width: 55px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #86ae47;
}

.btnHPostTag2:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52
		), color-stop(1, #b8e356));
	background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52',
		endColorstr='#b8e356');
	background-color: #a5cc52;
}

.btnHPostTag2:active {
	position: relative;
	top: 1px;
}

.btnHPostTag3 {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5));
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5');
	background-color: #79bbff;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 21px;
	line-height: 19px;
	width: 59px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #528ecc;
}

.btnHPostTag4 {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 21px;
	line-height: 19px;
	width: 59px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #528ecc;
}

.btnHPostTag3:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff');
	background-color: #378de5;
}

.btnHPostTag3:active {
	position: relative;
	top: 1px;
}

.modal-body {
	height: 500px;
	width: 300px
}

/* container-right */
.login-form-right-div {
	margin-left: 14.5px;
	margin-top: 15px;
	width: 230px;
	height: 140px;
	background-color: #FAFAD2;
	border: 1px solid #bebebe;
}

.contents-right-div {
	border-top: 1px solid #b4b4b4;
	width: 259px;
	height: 4350px;
	margin-left: -38px;
	margin-right: 0;
	padding: 0;
	background-color: #dcdcdc;
}

.login-input-id, .login-input-pw {
	margin-top: 10px;
	width: 104px;
	height: 28px;
}

.btn-side-login {
	-moz-box-shadow: inset -1px 50px 0px 0px #ffffff;
	-webkit-box-shadow: inset -1px 50px 0px 0px #ffffff;
	box-shadow: inset -1px 50px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	text-indent: -2px;
	border: 1px solid #918e91;
	display: inline-block;
	color: #666666;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 26px;
	line-height: 26px;
	width: 212px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 5px;
}

.btn-side-login:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',
		endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.btn-side-login:active {
	position: relative;
	top: 1px;
}

.btn-side-findIdAndPw {
	-moz-box-shadow: inset -1px 50px 0px 0px #ffffff;
	-webkit-box-shadow: inset -1px 50px 0px 0px #ffffff;
	box-shadow: inset -1px 50px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	text-indent: -2px;
	border: 1px solid #918e91;
	display: inline-block;
	color: #666666;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 26px;
	line-height: 26px;
	width: 212px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 5px;
}

.btn-side-findIdAndPw:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',
		endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.btn-side-findIdAndPw:active {
	position: relative;
	top: 1px;
}

.btn-side-google-login {
	-moz-box-shadow: inset -1px 50px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset -1px 50px 0px 0px #bbdaf7;
	box-shadow: inset -1px 50px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5));
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5');
	background-color: #79bbff;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	text-indent: -2px;
	border: 1px solid #bebebe;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 26px;
	line-height: 26px;
	width: 212px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #528ecc;
	margin-top: 19px;
}

.btn-side-google-login:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff');
	background-color: #378de5;
}

.position-btn-ques {
	margin-top: 25px;
}

.btn-side-google-login:active {
	position: relative;
	top: 1px;
}

.btn-side-question {
	-moz-box-shadow: inset -1px 50px 0px 0px #ffffff;
	-webkit-box-shadow: inset -1px 50px 0px 0px #ffffff;
	box-shadow: inset -1px 50px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #595659;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	height: 45px;
	line-height: 45px;
	width: 230px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 15px;
}

.btn-side-question:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background-color: #dfdfdf;
}

.btn-side-question:active {
	position: relative;
	top: 1px;
}

.btn-side-writePost {
	-moz-box-shadow: inset -1px 50px 0px 0px #ffffff;
	-webkit-box-shadow: inset -1px 50px 0px 0px #ffffff;
	box-shadow: inset -1px 50px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #595659;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	height: 45px;
	line-height: 45px;
	width: 230px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 5px;
}

.btn-side-writePost {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background-color: #dfdfdf;
}

.btn-side-writePost {
	position: relative;
	top: 1px;
}

.btn-side-link {
	-moz-box-shadow: inset -1px 50px 0px 0px #ffffff;
	-webkit-box-shadow: inset -1px 50px 0px 0px #ffffff;
	box-shadow: inset -1px 50px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #595659;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	height: 45px;
	line-height: 45px;
	width: 230px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 5px;
}

.btn-side-link {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background-color: #dfdfdf;
}

.btn-side-link {
	position: relative;
	top: 1px;
}

.btn-side-live {
	-moz-box-shadow: inset -1px 50px 0px 0px #ffffff;
	-webkit-box-shadow: inset -1px 50px 0px 0px #ffffff;
	box-shadow: inset -1px 50px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background-color: #ff5bb0;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #595659;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	height: 45px;
	line-height: 45px;
	width: 230px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #ffffff;
	margin-top: 5px;
}

.btn-side-live {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background-color: #dfdfdf;
}

.btn-side-live {
	position: relative;
	top: 1px;
}




/* footer */
.footer-box {
	margin: 0;
	width: 100%;
	height: auto;
	background-color: #333;
	padding-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	font-size: px;
	position: relative;
	overflow: hidden;
}

.a2 {
	color: #ac6f6f
}