@charset "UTF-8";

div.content-header {
	height: 100px;
	background-color: #0A6ECD;
}

p.contnt-header-title-link {
	position: relative;
	font-weight: 700;
	color: red;
	margin: 0;
	padding-left: 15px;
	top: 15px;
	vertical-align: text-bottom;
	margin-left: auto;
	margin-right: auto;
}
p.contnt-header-title-link>a {
	font-size: 36px;
	color: #fff;
	text-decoration: none;
}

.sub-category-nav {
	height: 35px;
	width: 850px;
	border-bottom: 0.5px solid gray;
	background-color: #fff;
}
/* 게시판내 카테고리 ul 초기화 설정 */
.sub-category-nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 30px;
	
}
/* 게시판내 카테고리 ul, li 관련 설정 */
.sub-category-nav ul li {
	color: white;
	float: left;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	font-size: 12px;
}

/* 게시판내 카테고리 li 관련 설정 */
.sub-category-li {
	text-decoration: none;
	display: inline-block;
	width: 80px;
	font-size: 24px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum;
	color: black;
}


/* 게시판내 카테고리 li 마우스 관련 설정 */

li.focus-text:hover, li.focus-text:active {
	color:#fff;
	background-color: #ffb938;
    border-bottom: 2px solid orange;
}



.sub-category-li a {
	text-decoration: none;
}

li.best-list{
	position:relative;
	left: 248px;
}
li.best-list>a:focus, li.up-list>a:focus{
	border-bottom: 2px solid red;
	color: red;
}

li.up-list{
	position:relative;
    left: 238px;
}

li.sub-category-li-widthView{
	left: 255px;
	top:2px;

}
 li.sub-category-li-heightView{
    
	top:4px;
	left: 265px;
} 

