@charset "UTF-8";

body, html {
	font-size: medium;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #fff;
}

div.user-profile {
	background-image: url("/teamproject/resources/images/profile-bg.jpg");
	background-size: cover;
}

.user-profile {
	position: relative;
	background-color: gray;
	margin-bottom: 5px;
	height: 200px;
	background-position: center center;
	padding: 5px;
}

.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.profile-image-edit {
	position: absolute;
	bottom: -4px;
	left: 74px;
	margin-bottom: 7px;
}

.text-center {
	text-align: center;
}

.media-left, .media-body {
	display: table-cell;
	vertical-align: top;
}

.media-body {
	width: 10000px;
}

.media, .media-body {
	overflow: hidden;
	zoom: 1;
}

.profile-background-image-edit {
	position: absolute;
	top: 10px;
	right: 20px;
}

.user-background-image-file-upload {
	display: none !important;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.user-profile .profile-image img {
	width: 200px;
	height: 200px;
}

.img-circle {
	border-radius: 50%;
}

.sub-nav-div {
	position: relative;
	margin: 1px auto 0;
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	height: 41px;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.empty-block {
	display: block;
	padding: 20px;
}

.sub-nav-div li {
	padding: 0 8px;
}

.sub-nav-div li:first-child {
	padding-left: 0;
}

.sub-nav-div .nav-pills>li.active>a:hover, .sub-nav-div li.active a {
	color: #dd4b39;
	font-weight: 700;
	-webkit-text-stroke-width: .02em;
	background-color: #fff;
}

.sub-nav-div li.active a {
	border-bottom: 3px solid #dd4b39;
}

.sub-nav-div li.active a, .sub-nav-div .nav-pills>li.active>a {
	color: #dd4b39;
	font-weight: 700;
	-webkit-text-stroke-width: .02em;
	background-color: #fff;
}

.sub-nav-div li.active a {
	border-bottom: 3px solid #dd4b39;
}

.sub-nav-div li a {
	font-size: 12px;
	border-radius: 0;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.sub-nav-div {
	background-color: white;
}

.sub-post-list2 {
	margin-right: 10px;
}

div.ques-btn {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
}

div.empty-block {
	color: #777;
	display: block;
	padding: 15px;
	text-align: center;
}