<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.java.mappers.BoardMapper">
	<!-- SQL 문장들을 정의 -->
	<!-- 특정 글번호의 게시글 검색 -->
	<select id="selectByBno" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE ${board.bno} = #{bno}
	</select>
	
	<select id="selectAll" resultType="Board">
		SELECT * FROM ${tbl_board}
		ORDER BY ${board.bno} DESC
	</select>
	
	<!-- Keyword가 포함된 글제목으로 게시글 검색  -->
	<select id="selectByTitle" resultType="Board">
		select * from ${tbl_board}
		where ${board.title} = #{title}
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard">
		insert into ${tbl_board} (${board.title}, ${board.content}, ${board.writer}, ${board.category}, ${board.type}, ${board.tag}, ${board.link}, ${board.image})
		values (#{title}, #{content}, #{writer}, #{category}, #{type}, #{tag}, #{link}, #{image})
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE ${tbl_board}
		SET ${board.title} = #{title},
			${board.content} = #{content},
			${board.write_date} = (SELECT NOW()),
			${board.category} = #{category},
			${board.tag} = #{tag},
			${board.link} = #{link},
			${board.image} = #{image},
		WHERE ${board.bno} = #{bno}
	</update>	
	
	<delete id="deleteBoard">
		DELETE FROM ${tbl_board} WHERE ${board.bno} = #{bno};
	</delete>
	
	<!-- 게시글을 페이지당 10개씩 출력하기 위한 쿼리문 -->
	<select id="listPaging" resultType="Board">
		SELECT * from ${tbl_board}
		WHERE ${board.bno} > 0
		ORDER BY ${board.bno} DESC, ${board.write_date} DESC
		LIMIT #{page}, 10
	</select>

	<select id="listCriteria" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE ${board.bno} > 0
		<if test="!'all'.equals(category)">
			AND ${board.category} = #{category}
		</if>
		<if test="!'all'.equals(type)">
			AND ${board.type} = #{type}
		</if>
		ORDER BY ${board.bno} DESC, 
		<if test="'popular'.equals(sort)">
			${board.view_count} DESC
		</if>
		<if test="'newest'.equals(sort)">
			${board.write_date} DESC
		</if>
		LIMIT #{criteria.pageStart}, #{criteria.perPageNum}
	</select>
	
	<select id="countBoards" resultType="int">
		SELECT COUNT(${board.bno})
		FROM ${tbl_board}
		WHERE ${board.bno} > 0 
		<if test="!'all'.equals(category)">
			AND ${board.category} = #{category}
		</if>
		<if test="!'all'.equals(type)">
			AND ${board.type} = #{type}
		</if>
	</select>

</mapper>