<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.java.mappers.UserMapper">
	<!-- SQL 문장들을 정의 -->
	<select id="loginCheck" resultType="User">
		SELECT * FROM ${tbl_user}
		WHERE ${user.id} = #{id}
	</select>
	
	<insert id="insertUser">
		INSERT INTO ${tbl_user} (${user.id}, ${user.password}, ${user.email}, ${user.nickname}) VALUES (#{id}, #{password}, #{email}, #{nickname})
	</insert>
	
	<update id="createAuthKey">
		UPDATE ${tbl_user} SET ${user.auth_code} = #{auth_code}
		WHERE  ${user.email} = #{email}
	</update>
	
	<update id="enableUserLogin">
		UPDATE ${tbl_user} SET ${user.verify} = 1 WHERE ${user.email} = #{email}
	</update>

</mapper>